{
  "presets": ["es2015"],{{#flow}}
  "plugins": ["syntax-flow", "transform-flow-strip-types"],{{/flow}}
  "env": {
    "development": {
      "sourceMaps": "inline"
    },
    "test": {
      "sourceMaps": "inline"
    }
  }
}
