{
  "root": true,
  "parser": "babel-eslint",
  "extends": "vue",{{#flow}}
  "plugins": ["flow-vars"],{{/flow}}
  "rules": {
    {{#flow}}"flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,{{/flow}}
    "object-curly-spacing": ["error", "always"],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 1 }]
  }
}
